<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Fedora Blocker Bugs</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
  <link rel="shortcut icon" href="static/favicon.ico">

  <!-- CSS: implied media=all -->
  <link rel="stylesheet" href="static/css/foundation.css">
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/app.css">
  <link rel="stylesheet" href="static/css/jquery.qtip.css">
  <link rel="stylesheet" href="static/css/text.css">
  <link rel="stylesheet" href="static/css/general_foundicons.css">
  <!-- end CSS-->

  <script src="static/js/jquery.js"></script>
  <script src="static/js/jquery.tablesorter.js"></script>
  <script src="static/js/jquery.foundation.buttons.js"></script>
  <script src="static/js/jquery.foundation.forms.js"></script>
  <script src="static/js/modernizr.foundation.js"></script>
  <script src="static/js/jquery.qtip.js"></script>
  <script src="static/js/jquery.metadata.js"></script>


</head>

<body>

    <script type="text/javascript">
        $(document).ready(function()
                {
                $("#AcceptedBlockers").tablesorter({headers: { 0: { sorter: false}, 4: {sorter: false}}});
                });

    </script>

    <div class="fullcontainer">

        <div id="preheader" class="fedora-preheader">

            <div class="row">
                <div class="large-3 columns">
                    <a href="/blockerbugs/">

                    <div id="logo" class="fedora-header">

                    </div>
                    </a>
                </div>
                <div class="large-1 columns">
                 
                </div>
            </div>
        </div>



<div class="row">
    <div class="large-8 large-centered columns" id="nav-bar">
        <div class="menu-container">
            <span class="menu-bar">
                <ul>
                    <li><a class="active" href="http://roshi.fedorapeople.org">Blog Home</a></li>

                    <li><a  href="https://phab.qadevel.cloud.fedoraproject.org/">Phabricator Instance</a></li>

                    <li><a  href="https://fedoraproject.org/wiki/Taskotron">Wiki Page</a></li>

                </ul>
            </span>


        </div> <!-- end of menu container -->
    </div> <!-- end of menu column -->
</div> <!-- end of menu row -->



<div class="row">
    <div class="large-12 columns" id="index">
        <div class="panel radius" id="main-info">
            <h2>Taskotron Setup</h2>
            

            {{ content }}

        </div>

        
    </div>
</div>



<div class="container">
    <div class="fedora-prefooter">
        <div class="twelve column">
            This template is open source! Get <a href="https://bitbucket.org/fedoraqa/baseweb">the code</a>
            or look at <a href="https://phab.qadevel.cloud.fedoraproject.org/project/view/5/">development plans</a>.
            <div class="fedora-footer"></div>
        </div>
    </div>
</div>


</div> <!-- end of main row -->

</body>
</html>
