/* Artfully masterminded by ZURB  */
/* line 6, ../../../sass/app.scss */
.fedora-preheader {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100% !important;
  position: relative;
  background: white url(../img/repeater.png) 0 100% repeat-x;
  display: block;
  color: black;
}

/* line 15, ../../../sass/app.scss */
.fedora-preheader a {
  color: #000;
}

/* line 19, ../../../sass/app.scss */
.fedora-header {
  display: block;
  text-indent: -9999px;
  background: url(../img/blockerbugs-logo-light.png) 10px 50% no-repeat;
  height: 73px;
  width: 175px;
  overflow: hidden;
  text-decoration: none;
}

/* line 29, ../../../sass/app.scss */
.fedora-preheader-staging {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100% !important;
  position: relative;
  background: white url(../img/repeater-stg.png) 0 100% repeat-x;
  display: block;
  color: black;
}

/* line 38, ../../../sass/app.scss */
.fedora-header-staging {
  display: block;
  text-indent: -9999px;
  background: url(../img/blockerbugs-logo-light-stg.png) 10px 50% no-repeat;
  height: 73px;
  width: 175px;
  overflow: hidden;
  text-decoration: none;
}

/* line 48, ../../../sass/app.scss */
.fedora-prefooter {
  font: normal 0.8em/1.5 sans-serif;
  text-align: center;
  background: white;
  padding: 20px;
}

/* line 55, ../../../sass/app.scss */
.fedora-footer {
  text-align: center;
  background: white url(../img/line-bottom.png) 0 0 repeat-x;
  color: #4D4D4D;
}

/* line 61, ../../../sass/app.scss */
.login-header {
  height: 73px;
}

/* line 70, ../../../sass/app.scss */
.login-link {
  vertical-align: text-bottom;
  position: absolute;
  bottom: 10px;
}

/* overriding specific ids */
/* line 78, ../../../sass/app.scss */
#main-info ul {
  list-style-position: inside;
}

/* icons */
/* line 83, ../../../sass/app.scss */
.foundicon-idea.yellow {
  color: #e59728;
}

/* line 87, ../../../sass/app.scss */
.menu-container {
  padding: 10px 0px 10px 0px;
}

/* sub-menu */
/* line 92, ../../../sass/app.scss */
.sub-menu {
  padding: 5px 0px 10px 0px;
  margin: 0;
  display: block;
  text-align: center;
  height: 24px;
}

/* line 100, ../../../sass/app.scss */
.sub-menu ul {
  background: none;
  padding: 0;
  margin: 0 auto;
  float: none;
  display: inline-table;
  border-radius: 10px;
}

/* line 108, ../../../sass/app.scss */
.sub-menu ul li {
  float: left;
  background: none;
  margin-right: 1px;
  display: inline;
}

/* line 114, ../../../sass/app.scss */
.sub-menu li a:link, .sub-menu li a:visited {
  font-size: 14px;
  display: block;
  color: #3c6eb4;
  padding: 1.4px 9.33333px;
  text-decoration: none;
  text-transform: capitalize;
}

/* line 122, ../../../sass/app.scss */
.sub-menu a.active:link, a.active:active, a.active:visited {
  color: #fff !important;
  text-shadow: none;
  background: #3c6eb4;
  border-radius: 10px;
  font-weight: bold;
}

/* line 129, ../../../sass/app.scss */
.sub-menu li a:hover {
  cursor: pointer;
  color: #fff;
  text-shadow: none;
  border-radius: 10px;
  background: #8c8c8c;
}

/* menu bar */
/* line 139, ../../../sass/app.scss */
.menu-bar {
  padding: 5px 0px 10px 0px;
  margin: 0;
  display: block;
  overflow: hidden;
  text-align: center;
  height: 40px;
  /* Rounded Corners */
  border-radius: 10px;
}

/* line 150, ../../../sass/app.scss */
.menu-bar ul {
  background: #ababab;
  padding: 0;
  margin: 0 auto;
  float: none;
  display: inline-table;
  border-radius: 10px;
}

/* line 158, ../../../sass/app.scss */
.menu-bar ul li {
  float: left;
  background: none;
  margin-right: 1px;
  display: inline;
}

/* line 164, ../../../sass/app.scss */
.menu-bar li a:link, .menu-bar li a:visited {
  font-size: 15px;
  font-weight: bold;
  display: block;
  color: #262626;
  padding: 3.75px 14px;
  text-decoration: none;
  text-transform: capitalize;
  /* CSS3 Text Shadow */
  text-shadow: 0px 1px 1px #dedede;
}

/* line 176, ../../../sass/app.scss */
.menu-bar li:first-child a {
  /* Rounded Corners */
  border-radius: 10px 0px 0px 10px;
}

/* line 180, ../../../sass/app.scss */
.menu-bar li:last-child a {
  /* Rounded Corners */
  border-radius: 0px 10px 10px 0px;
}

/* line 185, ../../../sass/app.scss */
.menu-bar li a:hover {
  cursor: pointer;
  color: #fff;
  text-shadow: none;
  background: #8c8c8c;
}

/* line 192, ../../../sass/app.scss */
.menu-bar a.active:link, a.active:active, a.active:visited {
  color: #fff !important;
  text-shadow: none;
  background: #3c6eb4;
}

/* info container */
/* line 199, ../../../sass/app.scss */
#info-container {
  padding: 10px 0px 5px 0px;
}

/* sortable tables */
/* line 204, ../../../sass/app.scss */
table.tablesorter {
  /*background-color: #CDCDCD;*/
  background-color: #d9d9d9;
  margin: 10px 0pt 15px;
  font-size: 10pt;
  width: 100%;
  text-align: left;
  border: 1px none #294172;
  border-collapse: collapse;
}

/* line 216, ../../../sass/app.scss */
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  /*background-color: #e6EEEE;*/
  /*background-color: lighten($secondary-color, 30%);*/
  background-color: #bacde8;
  font-size: 8pt;
  padding: 4px;
}

/* line 224, ../../../sass/app.scss */
table.tablesorter thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

/* line 230, ../../../sass/app.scss */
table.tablesorter tbody td {
  padding: 4px;
  vertical-align: top;
  word-wrap: break-word;
  border-left: 0;
  border-right: 0;
}

/* line 238, ../../../sass/app.scss */
table.tablesorter tr {
  border-left: 0;
  border-right: 0;
}

/* line 242, ../../../sass/app.scss */
table.tablesorter tr:nth-child(even) {
  background-color: #e1e9f5;
}

/* line 245, ../../../sass/app.scss */
table.tablesorter tr:nth-child(odd) {
  background-color: white;
}

/* line 248, ../../../sass/app.scss */
table.tablesorter tbody tr.even td {
  background-color: white;
}

/* line 252, ../../../sass/app.scss */
table.tablesorter thead tr .headerSortUp {
  background-image: url(../img/asc.gif);
}

/* line 256, ../../../sass/app.scss */
table.tablesorter tbody tr.newbug td {
  background-color: #fbff84;
}

/* line 260, ../../../sass/app.scss */
table.tablesorter tbody tr td.modifiedstate {
  font-weight: bold;
}

/* line 263, ../../../sass/app.scss */
table.tablesorter tbody tr td.bugid {
  font-weight: bold;
  font-size: 12pt;
}

/* tooltip tables */
/* line 268, ../../../sass/app.scss */
table.tiptable {
  /*background-color: #CDCDCD;*/
  background-color: #d9d9d9;
  margin: 10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

/* line 278, ../../../sass/app.scss */
table.tiptable thead tr th, table.tiptable tfoot tr th {
  background-color: #bacde8;
  font-size: 8pt;
  padding: 4px;
}

/* line 284, ../../../sass/app.scss */
table.tiptable thead tr .header {
  background-image: url(../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

/* line 290, ../../../sass/app.scss */
table.tiptable tbody td {
  font-size: 8pt;
  padding: 4px;
  vertical-align: top;
  word-wrap: break-word;
}

/* line 297, ../../../sass/app.scss */
table.tiptable tr:nth-child(even) {
  background-color: #e1e9f5;
}

/* line 300, ../../../sass/app.scss */
table.tiptable tr:nth-child(odd) {
  background-color: white;
}
